.scheme{
    margin: 4rem;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.479);
}

.scheme p{
    margin: 1rem 0;
    color: grey;
}