.former-list{
    display: flex;
    justify-content: space-between;
    width: 95%;
    background-color: white;
}

.sch-user{
    display: flex;
    justify-content: center;
    border-radius: 1rem;
}

.former-list li{
    width: 120px;
    padding: 10px 30px;
}

.main{
    padding: 5rem;
}

.sch-design{
    // background-color: rgba(128, 128, 128, 0.145);
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    border: 1px solid grey;
}

.sch-main{
    height: 600px;
    overflow-y: scroll;
    padding: 1rem;
    background-color: white;
}

.sch-design p{
    color: gray;
}

.color{
    background-color: white;
    border-radius: 1rem;
}

h3{
    margin-top: 2rem;
}

.bold li{
    font-weight: 700;
}

.btn-design{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.forms{
    width: 400px !important;
}