<!-- banner-section -->
<div class="banner ">
</div>
<section>
   <h3 class="hash">#GOVERNMENTSCHEMES
    /
    #SCHEMESFORYOU</h3>
    <a routerLink="/my-scheme" class="new-btn">Find Schemes For You <svg stroke="currentColor" fill="none" stroke-width="4" viewBox="0 0 24 24" aria-hidden="true" class="arrow " height="30px" width="30px" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg></a>
    <div class="flexed total">
       <div>
          <h2>2430 +</h2>
          <p>Total Schemes</p>
       </div>
       <div>
          <h2>510 +</h2>
          <p>Central Schemes</p>
       </div>
       <div>
          <h2>1920 +</h2>
          <p>States/UTs Schemes</p>
       </div>
    </div>
</section>
<section class="category">
   <h1>Find schemes based <br>
      on categories</h1>
   <div class="cat-flex">
       <a routerLink="/agriculture">
           <img src="../../assets/home/Agriculture.svg" alt="">
           <h3>Agriculture,Rural & Environment</h3>
       </a>
       <a routerLink="/education">
           <img src="../../assets/home/Education.svg" alt="">
           <h3>Education & Learning</h3>
       </a>
       <a routerLink="social">
           <img src="../../assets/home/Social Welfare.svg" alt="">
           <h3>Social welfare & Empowerment</h3>
       </a>
       <a routerLink="/bussiness">
           <img src="../../assets/home/Business.svg" alt="">
           <h3>Business & Entrepreneurship</h3>
       </a>
       <a routerLink="/transport">
           <img src="../../assets/home/Transport.svg" alt="">
           <h3>Transport & Infrastructure</h3>
       </a>
       <a routerLink="/women">
           <img src="../../assets/home/Women.svg" alt="">
           <h3>Women and Child</h3>
       </a>
       
       
   </div>
</section>
<section>
  <h5>How it works</h5>
  <h1>Easy steps to apply <br>
    for Government Schemes</h1>
    <div class="flexed work">
       <div>
           <img src="../../assets/home/check.svg" alt="">
           <h3>Enter Details</h3>
           <p>Start by entering your <b>basic <br> details!</b></p>
       </div>
       <div>
        <img src="../../assets/home/search.svg" alt="">
           <h3>Search</h3>
           <p>Our search engine will <b>find <br> the relevant schemes!</b></p>
       </div>
       <div>
        <img src="../../assets/home/apply.svg" alt="">
           <h3>Select & Apply</h3>
           <p><b>Select and apply </b>for the <br> best suited scheme</p>
       </div>
       </div>
</section>

<section id="about" class="relative bg-no-repeat py-12 md:py-20 relative z-0 ">
  <div class="container mx-auto px-8 lg:px-0 2xl:w-3/5 lg:w-5/6 relative   ">
  <div class="flex flex-col lg:flex-row items-center">
    <div class="flex flex-1 mr-2">
      <div ><h3 class="text-3xl font-heading font-bold text-green-600 mb-6">About</h3><p class="leading-relaxed">myScheme is a National Platform that aims to offer one-stop search and discovery of the Government schemes.It provides an innovative, technology-based solution to  discover scheme information based upon the eligibility of the citizen. The platform helps the citizen to find the right Government schemes for them. It also guides on how to apply for different Government schemes. Thus no need to visit multiple Government websites.</p><a class="undefine " href="/about"><button aria-label="View More" class="new-btn">View More 
</button></a></div></div>
  <div class="flex flex-1 w-full mt-4 lg:mt-0 lg:ml-4 items-center justify-center "><div class=" "><div class=""></div><div></div><iframe class="w-full h-full rounded-xl youtube" src="https://www.youtube.com/embed/bNOWkB-6cmc?autoplay=1" title="myScheme: One Stop Research For Government schemes, myScheme is a National Platform that aims to offer one-stop search and discovery of the Government schemes. It provides an innovative, technology-based solution to discover scheme information based upon the eligibility of the citizen." frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" do-not-allow="autoplay"></iframe></div></div></div></div></section>
